@font-face {
    font-family: 'pt_sans_narrowregular';
    src: url('fonts/PTN57F-webfont.eot');
    src: url('fonts/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTN57F-webfont.woff2') format('woff2'),
         url('fonts/PTN57F-webfont.woff') format('woff'),
         url('fonts/PTN57F-webfont.ttf') format('truetype'),
         url('fonts/PTN57F-webfont.svg#pt_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background: url('../img/fond_beige.jfif');
  font-family: 'pt_sans_narrowregular', Arial, sans-serif;
  color: #181818;
}

#bloc-page {
  width: 90%;
  margin: auto;
}

section h1, footer h1, nav a {
  font-weight: normal;
  text-transform: uppercase;
}

/* Header */

header {
  /* background: url('../img/ferrari_roule.jfif'); */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 3px black solid;
}

#titre_principal {
  display: flex;
  flex-direction: column;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#logo img {
  width: 100px;
}

header h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 0 10px;
}

header h2 {
  font-size: 1.3em;
  font-weight: normal;
  margin-top: 5px;
}

/* Navigation */

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 15px;
}

nav a {
  font-size: 1.3em;
  color: #181818;
  padding-bottom: 3px;
  text-decoration: none;
}

nav a:hover {
  color: #760001;
  border-bottom: 3px solid #760001;
}

/* Bannière */

#banniere_image {
  margin-top: 15px;
  height: 300px;
  border-radius: 5px;
  background-image: url('../img/ferrari_812 (crop).jpg');
  background-repeat:no-repeat;
  background-size:cover;
  position: relative;
  box-shadow: 0px 4px 4px #1c1a19;
  margin-bottom: 25px;
}

#banniere_description {
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 5px 5px;
  width: 99.6%;
  height: 33px;
  padding-top: 15px;
  padding-left: 4px;
  background-color: rgba(24,24,24,0.5);
  color: white;
  font-size: 0.8em;
}

.bouton_rouge {
  height: 25px;
  position: absolute;
  right: 10px;
  bottom: 5px;
  background-color: #e00520;
  border: 2px solid #760001;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
  padding: 3px 8px 0px 8px;
  color: white;
  text-decoration: none;
}

/* Corps */

section {
  display: flex;
  margin-bottom: 20px;
}

article, aside {
  text-align: justify;
}

article {
  margin-right: 20px;
  flex: 3;
}

.icone {
  vertical-align: middle;
  margin-right: 8px;
  width: 60px;
}

article p {
  font-size: 1.1em;
}

aside {
  flex: 1.2;
  position: relative;
  background-color: #706b64;
  box-shadow: 0px 2px 5px, #1c1a19;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 1em;
}

aside h1 {
  text-align: center;
}

#photo_freddy {
  text-align: center;
}

#photo_freddy img {
  border: 1px solid #181818;
  width: 80%;
}

#reseaux {
  display: flex;
  justify-content: center;
}

aside img {
  margin: 5px;
  width: 20%;
}

/* Footer */

footer {
  display: flex;
  border-top: 3px #181818 solid;
  padding-top: 25px;
}

footer p, footer ul {
  font-size: 1em;
}

footer h1 {
  font-size: 1.5em;
}

#tweet {
  width: 28%;
}

#mes_photos {
  width: 35%;
}

#mes_amis {
  width: 31%;
}

#mes_photos img {
  border: 1px solid #181818;
  margin-right: 3px;
  width: 30%;
}

#liste_amis {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

#mes_amis ul {
  padding-left: 2px;
}

#mes_amis a {
  text-decoration: none;
  color: #760001;
}

/* Media Queries */
@media all and (max-width: 1024px) {
  #bloc-page
  {
    width: auto;
  }

  nav {
    width: auto;
    text-align: left;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    padding-left: 4px;
  }

  nav a {
    font-size: 1.1em;
  }

  nav a:hover {
    border-bottom: 0;
  }

  #banniere_image {
    display: none;
  }

  section {
    flex-direction: column;
  }

  article, aside {
    width: auto;
    margin-bottom: 15px;
  }

  #photo_freddy img {
    width: 110px;
    float: right;
    margin-left: 15px;
  }

  aside p:last-child {
    text-align: center;
  }
}
